/************************************************************************/
/* File:	Print.css						*/
/* Description: A printer version of the standard Cascading Style Sheet */
/*		definitions for site. This basically removes the menu   */
/*		on the left hand side so that printed output is more    */
/*		readable.						*/
/* Author:	Andrew@DeFaria.com					*/
/* Created:     Mon Jan 17 10:45:57 PST 2005				*/
/* Language:	Cascading Style Sheet					*/
/*									*/
/* (c) Copyright 2005, Andrew@DeFaria.com, all rights reserved.		*/
/*									*/
/************************************************************************/
body {
  background:		white;
  margin:		3px;
  padding:		2px;
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			sans-serif,
			arial;
  font-size:		14px;
  color:		black;
}

.heading {
  margin-top:		5px;
  padding:		5px;
}

/* Turn off the left bar */
.leftbar {
  display:		none;
}

h1, h2, h3, h4, h5 { 
  color:		#00498b;
  font-family:		verdana,
			sans-serif,
			arial;
}

h1.centered { 
  text-align:		center;
}

h1 {
  font-size:		2em;
}

h2 {
  font-size:		1.75em;
}

h3 {
  font-size:		1.5em;
}

h4 {
  font-size:		1.25em;
}

h5 {
  font-size:		1em;
}

#content {
  font-size:		16px;
}

#content p {
  color:		black;
  font-family:		arial,
			trebuchet MS,
			trebuchet,
			verdana,
			geneva,
			helvetica,
			sans-serif;
  font-size:		16px;
}

/* Turn on underlining of links for clarity on paper */
a {
  color:		#4A7184;
  text-decoration:	underline;
  font-weight:		bold;
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		16px;
  font-weight:		bold;
}

a:link {
  color:		#0080c0;
}

/* For img's that happen to be links, don't put that silly    */
/* border!                                                    */
img {                                                                       
  border:		none;
}                                                                           

font {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-weight:		normal;
  text-transform:	none;
}

font.title {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#666;
  line-height:		15px;
}

font.title-list {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#666;
  line-height:		15px;
}

font.bold-label {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		 11px;
  color:		 #666;
  font-weight:		 bold;
}

font.title-no-padding {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#FFF;
}

font.title-padding {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#FFF;
  line-height:		15px;
  padding:		5px;
}

font.title-padding-grey {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#333;
  line-height:		15px;
  padding:		5px;
}

font.pagetitle {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		12px;
  color:		#666;
  line-height:		15px;
  font-weight:		bold;
}

font.pagetitlelink {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		12px;
  color:		#336699;
  line-height:		15px;
  font-weight:		bold;
}

font.plain {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#666;
  line-height:		15px;
}

font.instructional {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		10px;
  color:		#666;
  line-height:		13px;
  text-align:		justify;
}

.message {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#669966;
  line-height:		13px;
  font-weight:		bold;
  margin-bottom:	10px;
}

.message a {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
}

.standout {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		16px;
  color:		#993333;
  line-height:		18px;
  font-weight:		bold;
  margin-bottom:	10px;
}

.error-message {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#993333;
  line-height:		13px;
  font-weight:		bold;
  margin-bottom:	10px;
}

.error-message a {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		21px;
}

font.instructional-just {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		10px;
  color:		#666;
  line-height:		13px;
}

font.head1 {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		11px;
  color:		#336699;
  line-height:		15px;
  font-weight:		bold;
}

font.command {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		12px;
  line-height:		15px;
  text-transform:	uppercase;
  font-weight:		bold;
}

font.command-grey {
  font-family:		trebuchet MS,
			trebuchet,
			verdana,
			arial,
			sans-serif;
  font-size:		12px;
  line-height:		15px;
  color:		#666;
  font-weight:		bold;
}

p {
  color:		black;
  font-family:		arial,
			trebuchet MS,
			trebuchet,
			verdana,
			geneva,
			helvetica,
			sans-serif;
  font-size:		16px;
}

ul {
  color:		black;
  font-family:		arial,
			trebuchet MS,
			trebuchet,
			verdana,
			geneva,
			helvetica,
			sans-serif;
  font-size:		16px;
}

li {
  font-family:		arial,
			trebuchet MS,
			trebuchet,
			verdana,
			geneva,
			helvetica,
			sans-serif;
  font-size:		16px;
  line-height:		18px;
}

.box {
  padding:		5px;
  background-color:	#ffffea;
  color:		rgb(165, 42, 42);
  font-size:		8pt;
  margin-bottom:	5px;
  margin-left:		auto;
  margin-right:		auto;
  border-top:		4px solid #804000;
  border-left:		1px solid #804000;
  border-bottom:	1px solid #aca899;
  border-right:		1px solid #aca899;
  width:		75%;
  text-align:		center;
  -moz-border-radius:	7px;
}

.padded-box {
  border:		1px solid #696;
  padding:		5px;
  margin-top:		50px;
  text-align:		center;
  background:		#ccc;
}

.copyright {
  border-bottom:	1px dotted #ccc;
  border-top:		1px dotted #ccc;
  color:		#999;
  font-family:		verdana,
  			arial,
			sans-serif;
  font-size:		10px;
  margin-top:		5px;
  text-align:		center;
  width:		auto;
}

.copyright a {
  font-size:		10px;
}

.input {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
  font-weight:		bold;
  color:		#666;
}

input.search {
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		10px;
  color:		#666;
  background:		#222;
  font-weight:		normal;
}

input.text {
  width:		292px;
  height:		20px;
}

input.num {
  width:		16px;
  height:		20px;
}

input.num4 {
  width:		32px;
  height:		20px;
}

input.text-short {
  width:		175px;
  height:		20px;
}

input.text-large {
  width:		250px;
  height:		20px;
  margin-bottom:	5px;
}

input.button {
  width:		100px;
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
  font-weight:		bold;
  color:		#666;
  text-transform:	uppercase;
}

input.button-big {
  width:		150px;
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
  font-weight:		bold;
  color:		#666;
  text-transform:	uppercase;
}

input.weird-button {
  width:		75px;
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
  font-weight:		bold;
  color:		#000;
  background-color:	#FFF;
  text-transform:	uppercase;
}

input.button-small {
  width:		50px;
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
  font-weight:		bold;
  color:		#666;
  text-transform:	uppercase;
}

input.button-search {
  width:		75px;
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		10px;
  font-weight:		bold;
  color:		#666;
  text-transform:	lowercase;
}

input.button-go {
  width:		100px;
  font-family:		verdana,
			arial,
			sans-serif;
  font-size:		11px;
  font-weight:		bold;
  color:		#666;
  background-color:	#C5D1C7;
  text-transform:	uppercase;
}

input.cbox {
  vertical-align:	3px;
}

select {
  font-family:		verdana,
			arial,
			sans-serif;
  font-weight:		bold;
  color:		#666;
  font-size:		11px;
}

select.menu {
  width:		106px;
}

select.menu-long {
  width:		225px;
}

select.blog {
  width:		165px;
  color:		#666;
  font-size:		10px;
}

select.category {
  width:		150px;
}

select.menu-short {
  width:		130px;
}

textarea {
  font-family:		verdana,
			arial,
			sans-serif;
  color:		#333;
  background-color:	#FFF;
  font-size:		11px;
}

textarea.width500 {
  font-family:		verdana,
			arial,
			sans-serif;
  color:		#333;
  background-color:	#FFF;
  font-size:		11px;
  width:		486px;
}

textarea.config {
  font-family:		verdana,
			arial,
			sans-serif;
  color:		#333;
  font-size:		11px;
  width:		292px;
}

textarea.wide {
  font-family:		verdana,
			arial,
			sans-serif;
  color:		#333;
  background-color:	#FFF;
  font-size:		11px;
}

textarea.short310 {
  font-family:		verdana,
			arial,
			sans-serif;
  color:		#333;
  background-color:	#FFF;
  font-size:		11px;
  width:		310px;
}

textarea.short340 {
  font-family:		verdana,
			arial,
			sans-serif;
  color:		#333;
  background-color:	#FFF;
  font-size:		11px;
  width:		340px;
}
/* Code */
.code {
  border:		2px solid #336699;
  padding:		5px;
  margin-top:		20px;
  background:		#ffffea;
  color:		black;
  font-size:		16px;
  font-family:		courier;
  -moz-border-radius:	10px;
}

#code {
  color:		black;
  font-size:		14px;
  font-family:		courier;
  padding-left:		5px;
}

tt {
  background:		#fffae4;
  color:		black;
  font-size:		18px;
  font-family:		courier;
}

#line-number {
  color:		#804000;
  font-family:		Arial;
  font-size:		14px;
  padding-right:	5px;
  border-right:		1px dotted #804000;
}

.highlightbox {
  border:		solid;
  border-top-color:	#336699;
  border-top-width:	4pt;
  border-left-color:	#336699;
  border-left-width:	1pt;
  border-bottom-color:	#000000;
  border-bottom-width:	1pt;
  border-right-color:	#000000;
  border-right-width:	1pt;
  background-color:	#eeeeee;
  font-size:		8pt;
  padding:		5px;
  text-align:		center;
  width:		200px;
  -moz-border-radius:	7px;
}

.note {
  border:		solid;
  border-top-color:	#336699;
  border-top-width:	4pt;
  border-left-color:	#336699;
  border-left-width:	1pt;
  border-bottom-color:	#000000;
  border-bottom-width:	1pt;
  border-right-color:	#000000;
  border-right-width:	1pt;
  background-color:	#eeeeee;
  font-size:		8px;
  padding:		5px;
  text-align:		left;
  width:		75%;
  -moz-border-radius:	7px;
}

.centered { 
  text-align:		center;
  margin-left:		auto;
  margin-right:		auto;
}

.floatright { 
  float:		right;
}

.floatcenter { 
  text-align:		center;
}
