php_value include_path ".:/opt/defaria.com/php:/opt/clearscm/maps/php:/opt/clearscm/web/php:/usr/share/php"
Order Allow,Deny
Allow from All
Deny from 66.249.66.*

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
Options -MultiViews

# Force HTTPS (Proxy Aware)
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Generic Clean URL Routing
RewriteCond %{QUERY_STRING} !bypass=true
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/(css|Icons|Images|JavaScript|php|bin|gitweb|sounds|video|upload)/ [NC]
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]


</IfModule>

ErrorDocument 404 /404.php
