body {
  background-color: #a00000;
  color: white;
  font-size: 18px;
}
a:link {
  color: #ff0;
  text-decoration: none;
}
a:visited {
  color:#ff3;
}
a:hover {
  color: white;
}
a:active {
  color: yellow;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

.heart {
  background-color: red;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}
